<%= form_with(model: condition, local: true) do |form| %>

<% if @condition.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@condition.errors.count, "Error") %> prohibited this form from being saved:</h2>
 
    <ul>
    <% @condition.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
    <% end %>

    <div>
        <%= form.label :condition %>
        <%= form.text_field :condition, :required => true, :autofocus => true, :placeholder => "Which condition would you like to add?", :pattern => "[^0-9]*"%>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>