<h1>Conditions</h1>

<table>
  <thead>
    <tr>
      <th>Colour</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @conditions.each do |condition| %>
      <td><%= condition.condition %></td>

      
      <td><%= link_to 'Edit', edit_condition_path( condition )%></td>
      <td><%= link_to 'Destroy', condition_path( condition ), method: :delete, data: { confirm: 'Are you sure you want to delete this, Punk?' } %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<br>
<%= link_to 'Add New Condition', new_condition_path %>
<%= link_to 'Home', root_path %>