<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Colour</th>
      <th>Make</th>
      <th>Size</th>
      <th>Condition</th>
      <th>Gender</th>
      <th>Location</th>
      <th>Price</th>
      <th>Deposit</th>
      <th>Picture</th>

      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    
    <% @listings.each do | listing | %>
    <% if listing.sold == "active"%>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.description %></td>
        <td><%= listing.colour.colour %></td>
        <td><%= listing.make.make %></td>
        <td><%= listing.size.size %></td>
        <td><%= listing.condition.condition %></td>
        <td><%= listing.sex %></td>
        <td><%= listing.location %></td>
        <td><%= listing.price %></td>
        <td><%= listing.deposit %></td>
        <td><%= image_tag listing.picture, class: 'thumbnails' if listing.picture.attached? %></td>

        <td><%= link_to "View", listing_path( listing ) %></td>

        <% if current_user.id == listing.user_id %>
        <td><%= link_to 'Edit', edit_listing_path( listing )%></td>
        <td><%= link_to 'Destroy', listing_path( listing ), method: :delete, data: { confirm: 'Are you sure you want to delete this, Punk?' } %></td>
        <% end %>
      </tr>
      <%end%>
      <%end%>
  </tbody>
</table>
<br>

<%= link_to 'Listings', listings_path %>
<%= link_to 'Add New Listing', new_listing_path %>
<%= link_to 'Home', root_path %>