<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Colour</th>
      <th>Make</th>
      <th>Size</th>
      <th>Condition</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @listings.each do | listing | %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.description %></td>
        <td><%= listing.colour_id %></td>
        <td><%= listing.make %></td>
        <td><%= listing.size %></td>
        <td><%= listing.condition %></td>
        <td><%= listing.sex %></td>

       <% if current_user.id == listing.user_id %>
       <td><%= link_to "View", listing_path( listing ) %></td>
        <td><%= link_to 'Edit', edit_listing_path( listing )%></td>
        <td><%= link_to 'Destroy', listing_path( listing ), method: :delete, data: { confirm: 'Are you sure you want to delete this, Punk?' } %></td>
        <% end %>
      </tr>
      <%end%>
  </tbody>
</table>
<br>

<%= link_to 'Listings', listings_path %>
<%= link_to 'Add New Listing', new_listing_path %>
<%= link_to 'Home', root_path %>