<h1>Makes</h1>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @makes.each do |make| %>
    <tr>
      <td><%= make.make %></td>

      <td><%= link_to 'Edit', edit_make_path( make )%></td>
      <td><%= link_to 'Destroy', make_path( make ), method: :delete, data: { confirm: 'Are you sure you want to delete this, Punk?' } %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<br>
<%= link_to 'Add New Make', new_make_path %>
<%= link_to 'Home', root_path %>