
<h1>Show Make</h1>

<p>
<strong>Make:</strong>
<%=@make.make%>
</p>

<br>
<%= link_to 'Edit', edit_listing_path( @listing ) %>
<%= link_to 'Back to Listings', listings_path %>
<%= link_to 'Add New Listing', new_listing_path %>
<%= link_to 'Home', root_path %>
