<div class="container-fluid">
<img src="hero.png" class="img-fluid" alt="Responsive hero image">
</div>

<div class = "row one">
 <h2>Bikes Recently Listed</h2>
</div>
  <div class="container">
    <div class="row">
      <% @recent.each do |listing|%>
        <% if listing.sold == "active"%>
          <div class="card" style="width: 20rem; height: 35rem;">
          <%= image_tag listing.picture, class:"card-img-top", alt:"Card image cap" if listing.picture.attached? %>
          <div class="card-body diffbg">
            <h5 class="card-title"><%= listing.title %></h5>
            <p><%= listing.location %></p>
            <p>Bike Type: <%= listing.sex %></p>
            <h5><%= number_to_currency(listing.price) %></h5>
          </div>
        <div class="card-footer">
          <%= link_to 'View Details', listing_path(listing), class:"btn btn-outline-dark" %>
        </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

