<h1>Colours</h1>

<table>
  <thead>
    <tr>
      <th>Colour</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @colours.each do |colour| %>
      <td><%= colour.colour %></td>

      
      <td><%= link_to 'Edit', edit_colour_path( colour )%></td>
      <td><%= link_to 'Destroy', colour_path( colour ), method: :delete, data: { confirm: 'Are you sure you want to delete this, Punk?' } %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<br>
<%= link_to 'Add New Colour', new_colour_path %>
<%= link_to 'Home', root_path %>